
#mainH1 {
  margin: 0 5%;
  width: max-content;
}

.header {
  margin: 5% 5%;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
}

.reversedFlag {
  width: 8%;
  transform: scaleX(-1) 
}

.flag {
  width: 8%;
}

.banner {
  display: flex;
  justify-content: center;
  align-items: center;
}

.timelineTableWrapper {
  margin: 0 10%;
}
