
#mainHeader {
  margin: 0 5%;
  width: max-content;
}


.reversedFlag {
  width: 8%;
  transform: scaleX(-1) 
}

.flag {
  width: 8%;
}

.banner {
  margin: 5% 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.timelineTableWrapper {
  margin: 0 10%;
}
