#mainHeader {
  margin: 0 5%;
  width: max-content;
}

.timeColumn {
  text-align: center;
}

.reversedFlag {
  width: 20%;
  transform: scaleX(-1) 
}

.flag {
  width: 20%;
}

.banner {
  margin: 10vh 5% 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.timelineTableWrapper {
  margin: 0 10%;
}
